<!doctype html>
{% extends 'app/base.html' %}

{% block main_content %}

<h1>Government Spending</h1>
<form method="post">
  {% csrf_token %}
  <button type="submit" name="run_script" class="btn btn-lg btn-primary">Fetch Data</button>
</form>
<div class="col-xs-12" style="height:5px;"></div>
<div>{{ source }}</div>
<div>
  {% autoescape off %}
  {{ table }}
  {% endautoescape %}
</div>

<!-- Datatable -->
<script>
$(document).ready( function () {
  $('#results-table').DataTable({
                                "searching":false,
                                "scrollX":true,
                                "scrollY": 380,
                                "lengthMenu": [ 10, 25, 50, 100 ],
                                "order": [[ 3, "asc" ]]
                                });
                              } );
</script>

{% endblock %}